*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1A040D;
    color: aliceblue;
}


.title{
    display: block;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    font-size: 22px;
}


.container{
    display: flex;
    justify-content: center;
    border:  3px solid #fff;
    border-radius: 5px ;
    padding: 10px;
    top :50%;
    left: 50%;
     position: absolute;
     height: auto;
     transform: translate(-50%, -50%);
     
}

#input{
    background-color: transparent;
    border: 2px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
    height:9%;
}

#input::placeholder{
    color: #FF68B3;
}


form{
    display: block;
}


.result{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 20px;
}
#rst{
    margin-top: 8px;
}

.button{
    background-color: #fff;
    border-radius: 7px;
    padding: 6px 12px;
    color: #1A040D
}

.button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    transition: .3s;
}

.head{
    font-size: 32px;
    margin-top: 20px;
    text-transform: uppercase;
}

.prom{
    margin-bottom: 15px;
}


